.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .title{
        width: 100%;
        p{
            font-size: 16px;
            font-style: bold ;
        }
    }

    .expandable{
        max-width: 20px;
        font-size: 30px;
        margin: 10px;
    }
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    ion-label{
        margin-top: 10px;
        text-align: center;
    }

    ion-thumbnail{
        width:125px;
        height:125px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        img{
            width:auto !important;
        }
    }

    .information{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .options{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .checked{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                ion-toggle {
                    width: 50px;
                    --background-checked: #2DD36F;
                }

                ion-label{
                    font-style: bold;
                }
            }
        }
    }
}