.sayayin{
    --background-focused: #ffc409;
    --color-selected: #ffc409;
}

.freezer{
    --background-focused: #a0a;
    --color-selected: #a0a;
}

.garlic{
    --background-focused: #3dc2ff;
    --color-selected: #3dc2ff;
}

.cell{
    --background-focused: #006600;
    --color-selected: #006600;
}

.buu{
    --background-focused: rgb(218, 46, 218);
    --color-selected: rgb(218, 46, 218);
}

.movies{
    --background-focused: #cf3c4f;
    --color-selected: #cf3c4f;
}